@page
@model IndexModel
@{
    ViewData["Title"] = "Домашняя страница";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <p>Для начала работы войдите в аккаунт или пройдите регистрацию!</p>
</div>
